@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --color-primary: #1D4ED8;
    --color-secondary: #22C55E;
    --color-accent: #FBBF24;
    --color-background: #F9FAFB;
    --color-surface: #FFFFFF;
    --color-error: #EF4444;
    --color-info: #3B82F6;
    --color-warning: #F59E0B;
    --color-text-primary: #111827;
    --color-text-secondary: #6B7280;
}

.dark {
    --color-primary: #60A5FA;
    --color-secondary: #4ADE80;
    --color-accent: #FCD34D;
    --color-background: #111827;
    --color-surface: #1F2937;
    --color-error: #FCA5A5;
    --color-info: #93C5FD;
    --color-warning: #FDBA74;
    --color-text-primary: #F9FAFB;
    --color-text-secondary: #9CA3AF;
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

.test-dark-mode {
    @apply bg-red-500;
}
.dark .test-dark-mode {
    @apply bg-blue-500;
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
